---
import Layout from '../layouts/Layout.astro';
import BillBoard from '../components/BillBoard.astro';
import InfoModal from '../components/InfoModal.astro';
import MovieList from '../components/MovieList.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Welcome to Astrotube">
  <script is:raw>
    function playMovie(id) {
      location.href = '/movies/' + id + '/play'
    }
    document.addEventListener('alpine:init', () => {
      Alpine.store('favorites', {
          movies: [],
          async init() {
              this.movies = await (await fetch('/users/favorites')).json()
          },
          isFavorite(movie) {
              return this.movies.map(x => x.id).includes(movie.id)
          },
          async addFavorite(movie) {
              if (!this.isFavorite(movie)) {
                  this.movies = await (await fetch('/users/favorites/' + movie.id, {method: 'POST'})).json()
              }
          },
          async removeFavorite(movie) {
              if (this.isFavorite(movie)) {
                  this.movies = await (await fetch('/users/favorites/' + movie.id, {method: 'DELETE'})).json()
              }
          },
      }),
      Alpine.store('modal', {
          visible: false,
          movie: {},
          close() {
              this.visible = false
          },
          async open(id) {
              this.movie = await (await fetch('/movies/' + id)).json()
              this.visible = true
          },
      })
    })
  </script>
  <header x-data>
    <!-- info modal -->
    <InfoModal />
    <!-- navbar -->
    <NavBar />
    <!-- billboard -->
    <BillBoard />
  </header>
  <main>
    <!-- main movies list -->
    <section x-data="{ movies: [] }" x-init="movies = await (await fetch('/movies')).json()">
      <MovieList title="Trending Now" data="movie in movies" />
    </section>
    <!-- favorites list -->
    <section x-data="$store.favorites.movies">
      <MovieList title="My List" data="movie in $store.favorites.movies" />
    </section>
  </main>
</Layout>
