---
import MovieCard from '../components/MovieCard.astro';

const { title, data } = Astro.props;
---

<article class="pb-40">
  <div class="px-4 md:px-12 mt-4 space-y-8">
    <p class="text-white text-md md:text-xl lg:text-2xl font-semibold mb-4">{title}</p>
    <div class="grid grid-cols-4 gap-2">
      <template x-for={data} :key="movie.id">
        <MovieCard />
      </template> <!--movie card -->
    </div>
  </div>
</article>
